<div class="inventory-wrapper">
  <fieldset class="inventory">
    <legend class="text-border">Inventário</legend>
    
    <div class="inventory__header">
      <h3>
        @<span id="userIdentification">{{userName}}</span> 
        <span class="points">Ranking ?º</span>
      </h3>
    </div>

    <div class="inventory__body">
      <ng-container *ngFor="let ingredient of ingredientsArray">
        <div class="slot"><img src="{{ingredient.ingr}}"><span class="quantity">{{ingredient.qtde}}</span></div>
      </ng-container>
      <ng-container *ngFor="let i of [].constructor(freeSlots)">
        <div class="slot"></div>
      </ng-container>
    </div>
    
    <div class="inventory__summary">
      <h5 class="summary__item">
        Total Items:
        <span>{{ingredientsArray.length}}</span>
      </h5>

      <h5 class="summary__item">
        Total Points:
        <span>-</span>
      </h5>
    </div>
  </fieldset>
</div>
