  .inventory {
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 5px dashed var(--text-color);
    padding: 2rem 2rem 1rem;
    background: var(--primary-color);
    box-shadow: 10px 30px 24px -4px rgb(0 0 0 / 30%) inset;
  } 
  
  legend {
    color: #fff;
  }

  .inventory { height: 100vh; display: flex; flex-direction: column; }
  
  .inventory__header {
    padding: 1rem 0;
    margin-bottom: 2rem;
    position: relative;
  }
 
  .inventory__header::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    border: 2px dashed var(--primary-color);
    background: #444044;
    left: 0;
    right: 0;
    height: 0.1rem;
  }

  .points {
    font-size: 2rem;
    position: relative;
    float: right;
  }
  
  .inventory__body { 
    display: grid; 
    flex: 1; 
    grid-gap: 2rem; 
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr)); 
    grid-template-rows: repeat(auto-fill, minmax(110px, 1fr)); 
    background: rgb(0 0 0 / 30%); 
    padding: 2rem; 
    border: 4px dashed var(--primary-color);
  }
  
  .inventory__summary {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    justify-content: space-evenly;
  }
  
  @keyframes border-dance {
    0% {
      background-position: left top, right bottom, left bottom, right   top;
    }
    100% {
      background-position: left 15px top, right 15px bottom , left bottom 15px , right   top 15px;
    }
  }
  
  .slot {
    --dash-height: 3px;
    --dash-width: 15px;
    --dash-left: var(--dash-width) var(--dash-height);
    --dash-right: var(--dash-height) var(--dash-width);
    --dash-gap: 30%;
    position: relative;
    background-color: var(--secondary-color);
    color: #363436;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px -4px rgb(0 0 0 / 30%) inset;
    background-image: 
      linear-gradient(90deg, var(--text-color) calc(100% - var(--dash-gap)), transparent var(--dash-gap)), 
      linear-gradient(90deg, var(--text-color) calc(100% - var(--dash-gap)), transparent var(--dash-gap)), 
      linear-gradient(0deg, var(--text-color) calc(100% - var(--dash-gap)), transparent var(--dash-gap)), 
      linear-gradient(0deg, var(--text-color) calc(100% - var(--dash-gap)), transparent var(--dash-gap));
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: var(--dash-left), var(--dash-left), var(--dash-right), var(--dash-right);
    background-position: left top, right bottom, left bottom, right top;
    transition: transform .1s linear;
    animation: border-dance .25s 0 linear;
  }

  .slot:not(.disabled) {
    cursor: pointer;
  }
  
  .slot:not(.disabled):hover {
    transform: scale(1.05);
    animation-iteration-count: infinite;
  }

  .quantity {
    position: absolute;
    display: block;
    bottom: .5rem;
    right: .5rem;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: -2px -2px 1px var(--text-color);
  }
  
  .separator {
    width: 100%;
    height: 0.5rem;
    background: #444044;
    margin-bottom: 1rem;
    border: 2px dashed var(--primary-color);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
    font-weight: 300;
    text-shadow: 2px 2px 2px var(--text-color);
  }
  
  .summary__item {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .summary__item > span {
    font-size: 2rem;
  }
  
  .inventory__body--ingredient {
    align-items: center;
  }
  
  .slot--ingredient {
    width: 64px;
    height: 64px;
    margin: 0;
  }
  
  .slot--ingredient > img {
    width: 44px;
  }
  
  
  .text-border {
    text-shadow: 2px 2px 0 var(--primary-color), 
    2px -2px 0 var(--primary-color), 
    -2px 2px 0 var(--primary-color),
    -2px -2px 0 var(--primary-color),
    2px 0px 0 var(--primary-color),
    0px 2px 0 var(--primary-color),
    -2px 0px 0 var(--primary-color),
    0px -2px 0 var(--primary-color);
  }
  
  .pizza {
    width: 78px;
    height: 78px;
  }
  
  .pizza > img {
    width: 64px;
  }
