:root {
    --primary-color: #4e4a4e;
    --secondary-color: #6a665c;
    --text-color: #442434;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
  }
